---
import MainLayout from "../../layouts/MainLayout.astro";
import Menu from "../../components/Menu";
import HamburguerMenu from "../../components/HamburguerMenu";
import Logo from "../../components/Logo";
import { Image } from "@astrojs/image/components";
// Data Fetching: List all Markdown posts in the repo.
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
const navItems = {};
---

<MainLayout>
  <div class="relative">
    <div class="relative text-white h-screen bg-[#080a07]">
      <Menu client:load />

      <div class="h-14 relative z-50 px-4 flex items-center">
        <HamburguerMenu client:load />
        <Logo client:load />
      </div>
      <Image
        alt=""
        src="assets/home.jpg"
        height={1080}
        format="avif"
        aspectRatio={3 / 4}
        class="h-full object-cover w-full absolute z-0 top-0"
      />
      <div class="z-10 w-full grid place-items-center top-0 absolute h-screen">
        <div>
          <h1
            class="text-white text-5xl text-center font-main tracking-widest leading-none"
          >
            Michael Salazar
          </h1>
          <div
            class="text-white flex items-center w-full justify-center gap-4 relative mt-24"
          >
            <a
              class="border-white/40 border hover:bg-black transition-all ease-in-out hover:border-black px-5 py-2 text-[8px]"
            >
              ENGLISH
            </a>
            <a
              href="/"
              class="border-white/40 border hover:bg-black transition-all ease-in-out hover:border-black px-5 py-2 text-[8px]"
            >
              ESPANOL
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>BIOGRAPHY</div>

    <div>VIDEOS</div>

    <div>SERVICES</div>
    <div>FOOTER</div>
  </div>
</MainLayout>
