---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import MainLayout from "../layouts/MainLayout.astro";
import portrait from "../../public/assets/home.jpg";
// Data Fetching: List all Markdown posts in the repo.
const projects = await Astro.glob("./project/**/*.md");
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <div class="relative">
    <div class="relative h-screen grid place-items-center">
      <img src={portrait} class="h-full object-cover w-full absolute z-0" />
      <div class="z-10 w-full">
        <h1
          class="text-white text-center font-main tracking-widest leading-none"
        >
          Michael Salazar
        </h1>
        <div
          class="text-white flex items-center w-full justify-center gap-4 relative top-12"
        >
          <div
            class="border-white/40 border hover:bg-black transition-all ease-in-out hover:border-black px-5 py-2 text-[8px]"
          >
            ENGLISH
          </div>
          <div
            class="border-white/40 border hover:bg-black transition-all ease-in-out hover:border-black px-5 py-2 text-[8px]"
          >
            ESPANOL
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
