---
import "@fontsource/cinzel";
import "@fontsource/nunito-sans";
---

<head>
  <meta charset="utf-8" />
  <title>MS | Pianista</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <slot />
</body>
